{% extends 'base.html' %}

{% block content %}
{%load static%}
<h1 class="text-center">{{ titulo }}</h1>
<div class="row">
    {% for producto in productos %}
    <div class="col-3 offset-1">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

            <img class="card-img-top" src="{% static producto.uri %}" alt="Card image cap">
            <div class="card-header">{{producto.nombre}}</div>
            
            <div class="card-body">
                <h5 class="card-title">{{producto.precio}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="/" class="btn btn-primary">Volver</a>

{% endblock %}